<!-- hej med dig
<br>
testing
<br>
hvis vi vil have fat i variabeler fra ng-component -->
<!-- {{name}} interpolation -->
<!-- {{2+2}} -->
<!-- {{tekst}} variablen findes ikke -->
<!-- <br><br>
{{mail}} <br>
{{mail2}}
<p>this is a paragraph</p>


<p *ngIf="2==3">hvis 2 er det samme som 2</p>
<p *ngIf="mail == undefined">undefined</p>
<p *ngIf="mail2 == ''">tom</p> -->

<!-- Routes skal benyttes i en template -->
<!-- <> fragments ser vi lige på senere -->
<!-- routerLink=benytter path fra routing.module.ts -->
<main>
<nav>
  <a routerLink="people" routerLinkActive="active">link til people</a>
  <a routerLink="menu1" routerLinkActive="active"> Menu1</a>
  <a routerLink="menu2" routerLinkActive="active"> Menu2</a>
</nav>
<router-outlet></router-outlet>
</main>
<!-- <app-people></app-people> -->
<!-- </> -->
